<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
				<div class="left-top-bar">
					700 Tl Ve Üzere Tüm Siparişlerde Kargo Bedava!
				</div>
			</div>
		</div>

		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="#" class="logo">
					<img src="/cozastore-master/images/icons/logom.png" alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="active-menu">
							<a href="#Slider">Ana Sayfa</a>
						</li>

						<li>
							<a href="#Kategori">Kategoriler</a>
						</li>

						<li class="label1" data-label1="Popüler">
							<a href="#Product">Ürünler</a>
						</li>

					</ul>
				</div>

				<!-- Icon header -->
				
			</nav>
		</div>
	</div>
</header>